version: '3.8'

services:
  frontend:
    image: frontend:latest  # Cambiar build por image
    ports:
      - "3000:3000"
    networks:
      - tts-network

  backend:
    image: backend:latest
    ports:
      - "5000:5000"
    volumes:
      - shared-data:/app/shared-files
    networks:
      - tts-network

  api-proxy:
    image: api-proxy:latest
    ports:
      - "5001:5000"
    volumes:
      - shared-data:/app/shared-files
    networks:
      - tts-network
    secrets:
      - google_credentials
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/google_credentials
    depends_on:
      - backend

volumes:
  shared-data:
    driver: local

networks:
  tts-network:
    driver: overlay  # Cambiar a overlay para Swarm

secrets:
  google_credentials:
    external: true