version: '3.8'

services:
  frontend:
    image: frontend
    container_name: frontend-container
    ports:
      - "3000:3000"
    networks:
      - tts-network

  backend:
    image: backend
    container_name: backend-container
    ports:
      - "5000:5000"
    volumes:
      - ./shared:/app/shared-files
    networks:
      - tts-network

  api-proxy:
    image: api-proxy
    container_name: api-proxy-container
    ports:
      - "5001:5000"
    volumes:
      - ./shared:/app/shared-files
    networks:
      - tts-network
    # secrets:
    #   - google_credentials
    # environment:
    #   - GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/google_credentials
    depends_on:
      - backend

networks:
  tts-network:
    driver: bridge  # Cambiar a overlay para Swarm

# secrets:
#   google_credentials:
#     external: true